<!doctype html>
<html lang="en">
    <head>
        {{$depth := .Depth}}
        <meta charset="utf-8">
        <title>{{.Name}} | sitename </title>
        <link rel="stylesheet" type="text/css" href="{{$depth}}/css/main.css#{{.Version}}">
    </head>
    <body>

        <header>
            <h2>Site Title or Logo</h2>
            {{if .Nav}}
            <nav>
                <ul>
                {{range .Nav}}
                    <li><a href='{{$depth}}{{.Link}}'>{{.Name}}</a></li>
                {{end}}
                </ul>
            </nav>
            {{end}}
        </header>

        <div class="content">{{.Content}}</div>

        <div class="footer">
            <p>Worthless copyrights, or maybe useful contact information.</p>
            <div class="scripts">
                <script type="text/javascript" src="{{$depth}}/js/main.js#{{.Version}}"></script>
            </div>
        </div>

    </body>
</html>